body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color:gray;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
}

